ARCA_ENVIRONMENT=disabled
ARCA_CUIT=
ARCA_CERTIFICATE_PATH=
ARCA_PRIVATE_KEY_PATH=
ARCA_HOMOLOGATION_CONSENT=
ARCA_PRODUCTION_ENABLE=
FISCAL_WORKER_ID=taba-fiscal-worker-01
FISCAL_HEALTH_PORT=8787
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_PATH=
